body {
    height: 100%;
    padding: 0;
    background-color: #F5EEEB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}
/* 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white
} */

.container-fluid {
    padding: 0;
}

.choose-sector-option {
    width: 35%;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid black;
}

.notify {
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    background-color: #5b0f00;
    border-radius: 10px;
    padding: 2.5%;
    align-items: center;
    /* margin: 1% 1.5% 0% 1.5%; */
    display: flex;
    flex-direction: row;
    font-weight: 600;
    width: auto;
    height: auto;
}

.notice {
    background-color: #7e1702;
    color: #fff;
    border-radius: 10px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 600;
    font-size: 16px;
    max-width: 40%;
    height: auto;
}

.one-notice {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2.5%;
    width: auto;
    min-width: 30%;
    margin: 2.5%;
    margin-top: 0%;
    color: #fff;
    background-color: #5b0f00;
}

.text-card {
    display: flex;
    flex-direction: row;
}

.cards {
    padding: 1.5%;
}

.custom-select {
    padding: 1.5%;
    border-radius: 10px;
    border: 2px solid black;
    width: 35%;
}

footer {
    padding: 60px 0px 60px 0px;
    border-top: 1px solid black;
    background-color: #350A01;
}

footer .about-veno .logo {
    margin-bottom: 40px;
}

footer .about-veno ul li a {
    margin-top: 20px;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    color: rgba(53, 10, 1, 1);
    margin-right: 3px;
    transition: all 0.5s;
}

.footer .useful-links {
    align-items: start;
}

footer .useful-links ul li {
    margin-top: 12px;
    margin-bottom: 12px;
}

footer .useful-links ul li a {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: white;
}

footer .useful-links ul li i {
    font-size: 6px;
    position: relative;
    top: -3px;
    margin-right: 8px;
}

footer .contact-info p {
    margin-bottom: 25px;
}

footer .contact-info ul li {
    margin: 10px 0px;
    color: white;
}

footer .contact-info .contact-phones {
    list-style: disc;
    margin-left: 40px;
    font-size: 14px;
    color: white;
}

footer .contact-info ul li span {
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 80px;
    display: inline-block;
}

.login-section {
    border-radius: 10px;
    padding: 5%;
    width: 50%;
    margin-top: 5vh;
    border: 2.5px solid black;
    box-shadow: 0px 5px black;    
    background-color: whitesmoke;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

h1, h3, h4 {
    color: #5b0f00;
    font-weight: bold;
}

.about-us-text {
    color: white;
    font-weight: bold;
}

label {
    padding-bottom: 2%;
    padding-top: 3%;
    font-weight: bold;
    color: #5b0f00;
}

input {
    color: black;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
}

.main-button {
    align-self: center;
    margin-top: 5vh;
    border-radius: 10px;
    height: 50px;
    width: 35%;
    text-align: center;
    background-color: #5b0f00;
    font-weight: bold;
    color: white;
    border: 2.5px solid black;
    box-shadow: 0px 4px black;
    transition: 0.5s all;    
}

.more-button {
    align-self: center;
    height: 50px;
    font-size: 14px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    background-color: #5b0f00;
    transition: 0.25s all;
    box-shadow: 0px 2px black;
    transition: 0.5s all;
}

.modal-content {
    border: 1px solid black;
}

.modal-header {
    background-color: #5b0f00;
    color: white;
}

.more-button:hover {
    background-color: #7e1702;
    border: 1px solid black;
    box-shadow: 0px 0px;
    color: white;
}

.check-now-button {
    color: #fff;
    width: 150px;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 10%;
    margin-left: 8%;
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
    background-color: #5b0f00;
    box-shadow: 0px 2px black;
    border: 1px solid black;
    transition: 0.5s all;
}

.check-now-button:hover {
    box-shadow: 0px 0px;
    background-color: #7e1702;
    color: white;
}

.pengajuan-button {
    background-color: #5b0f00;
    border: 1px solid black;
    transition: 0.5s all;
    width: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 2px black;
    border-radius: 10px;
    padding: 5px 15px;
}

.pengajuan-button:hover {
    box-shadow: 0px 0px;
    background-color: #7e1702;
    color: white;
}

.about-us {
    display: block;
    padding: 10% 5% 0% 5%;

}

.about-us-text {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.parhalado-section {
    display: block;
    padding: 5% 0%;
    text-align: center;
}

.parhalado-section h3 {
    text-align: left;
}

.image-church {
    border-radius: 10px;
    border: 2px solid black;
}

.main-button:hover {
    transition: 0.5s all;
    background-color: #7e1702;
    color: white;
    border: 2.5px solid black;
    box-shadow: 0px 0px;
}

.navbar {
    background-color: rgba(53, 10, 1, 1);
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand:hover, .nav-link:hover {
    color: #fff;
    cursor: pointer;
}

.navbar-brand, .nav-link {
    color: #fff;
    font-weight: 600;
}

.additional-info {
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5b0f00;
    border-radius: 10px;
    color: #fff;
    padding: 3% 0%;
    box-shadow: 0px 4px black;
    border: 2px solid black;
    transition: 0.5s all;
}

.additional-info:hover {
    background-color: #721c24;
}

.additional-info i {
    padding: 40px 20px;
}

.second-section {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.third-section {
    padding: 5%;
}


.subtitle {
    font-weight: 600;
}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    width: 50vw;
}

.image-header {
    opacity: 0.5;
    height: 50%;
    width: 100%;
}

.header {
    background-image: url("../assets/images/1.jpg");
    height: 80vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    opacity: 0.5;
}

.activities {
    padding: 80px 0px 70px 0px;
    font-size: 14px;
}

.church-activities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0%;
}

.activity-img {
    height: 20%;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
}

.hero-img {
    
    width: 100%;
    height: 500px;
    opacity: 0.5;
}

.hero-text {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 2px;
}

.maps {
    align-self: center;
}

.about-church {
    padding: 80px 0px 70px 0px;
    font-size: 14px;
}

.carousel-inner {
    border: 1px solid black;
    border-radius: 10px;
}

u {
    color: #5b0f00;
    font-weight: bold;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
    background-position: center center;
    object-fit: cover;
    border-radius: 10px;
}

.signup-section{
    border-radius: 10px;
    padding: 5%;
    width: 40%;
    margin: 5%;
    border: 2.5px solid black;
    box-shadow: 0px 5px black;    
    background-color: whitesmoke;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.request-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create-activity-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding: 2.5% 8% 2.5% 8%;
    margin: 5%;
    width: 75%;
    border: 1px solid black;
    box-shadow: 0px 4px black;
    font-size: 14px;
}

.form-new-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-section {
    padding: 5% 5%;
}

.profile-section {
    padding: 0% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-child {
    /* max-width: 50%; */
    text-align: left;
    font-size: 14px;
    background-color: white;
}

.table-child-admin {
    font-size: 14px;
}

.table-child-admin:nth-child(2), .table-child-admin:nth-child(3), .table-child-admin:nth-child(4) {
    width: 16%;
}

.table-child-admin:nth-child(6) {
    width: 40%;
    text-align: left;
}

.table-child:first-child {
    font-weight: bold;
}

.table-child:nth-child(1), .table-child:nth-child(2), .table-child:nth-child(3) {
    width: 15%;
    text-align: center;
}

.table-child:last-child {
    width: 35%;
}

.table-home-child {
    background-color: white;
    font-size: 14px;
}

.table-home-child:last-child {
    text-align: left;
    width: 60%;
}

.ibadah-section {
    padding: 2.5% 0%;
}

.sidenav-links {
    font-weight: bold;
}

.sidenav a i {
    padding-right: 20px;
}

.request-list-section, .activity-list-section {
    padding: 2.5% 3.5%;
    display: flex;
    flex-direction: column;
}

.header-activity {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.child-request-list, .child-activity-list {
    font-size: 14px;
}

.child-activity-list {
    background-color: white;
}

.child-activity-list:nth-child(5) {
    width: 10%;
}

.child-request-list:nth-child(6), .child-request-list:nth-child(7) {
    width: 10%;
}

.child-request-list:nth-child(9) {
    text-align: left;
    width: 25%;
}

th {
    font-size: 14px;
}

.status-message-on-process {
    display: block;
    background-color: #cce5ff;
    color: #183153;
    font-weight: 600;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
}

.status-message-accepted {
    display: block;
    background-color: #d4edda;
    color: #155724;
    font-weight: 600;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
}

.status-message-denied {
    display: block;
    background-color: #f8d7da;
    color: #721c24;
    font-weight: 600;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
}

.choice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.choice-buttons i {
    margin: 0% 10px;
}

.approval-buttons {
    border: 0px solid;
    background-color: transparent;
}

.logo img {
    height: 120px;
    width: 120px;
}

.account-box {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2.5%;
    width: 75%;
}

.account-form {
    display: flex;
    flex-direction: column;
}

.deskripsi-area {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

.family-input-col {
    display: flex;
    flex-direction: column;
}

.drawer-menu {
    display: none;
}

.offcanvas {
    display: none;
}

.waktu-kegiatan {
    width: 35%;
}

@media screen and (max-width: 768px) {

    .account-box {
        width: 100%;
    }

    .header-activity {
        align-items: flex-start;
        flex-direction: column;
    }

    .pengajuan-button {
        margin-top: 20px;
    }

    .offcanvas {
        display: block;
    }

    .nav-item {
        padding: 3%;
    }

    .drawer-menu {
        display: block;
    }

    .hero-text {
        font-size: 26px;
    }

    .additional-info {
        width: 35%;
    }

    label {
        font-size: 14px;
    }

    .main-button {
        font-size: 14px;
    }

    h5 {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    th {
        font-size: 16px;
    }

    .table-child {
        text-align: left;
    }

    p, a, .subtitle {
        font-size: 14px;
    }

    .church-activities {
        justify-content: space-between;
    }

    .activity-img {
        height: 30%;
        width: 30%;
        margin: 2.5% 0%;
    }

    .check-now-button {
        margin-bottom: 50px;
    }

    .main-button {
        width: 45%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 425px) {

    .carousel-inner {
        margin-top: 10%;
    }

    .notice {
        margin-left: 2.5%;
        max-width: 80%;
        padding: 5%;
    }

    .account-box {
        padding: 7.5%;
    }

    .custom-select {
        width: auto;
        padding: 10px 15px;
    }

    .family-names {
        flex-direction: column;
        margin-top: 10px;
        justify-content: flex-start;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .activity-img {
        height: 45%;
        width: 45%;
    }
    
    .logo img{
        height: 25%;
    }
    
    .about-veno {
        margin: 5% 0%;
    }

    .th {
        font-size: 14px;
    }

    .social-icons {
        margin-top: 2.5%;
    }

    .second-section {
        padding-top: 15%;
    }

    .choose-sector-option {
        width: 75%;
    }

    .waktu-kegiatan {
        width: 75%;
    }
}

@media screen and (max-width: 375px) {
    .notice {
        max-width: 90%;
    }

    .check-now-button {
        margin-bottom: 20px;
    }
    
    .choose-sector-option {
        width: 75%;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand {
        font-size: 0.8rem;
    }

    .hero-text {
        font-size: 1.25rem;
    }

    th {
        font-size: 12px;
    }

    .additional-info {
        width: 45%;
    }

    .church-activities {
        justify-content: center;
    }

    .activity-img {
        width: 75%;
    }
}
