body {
    height: 100%;
    padding: 0;
    background-color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}
/* 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white
} */

.container-fluid {
    padding: 0;
}

.choose-sector-option {
    width: 35%;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 0px 4px black;
}

.notify {
    font-size: 14px;
    margin-top: 20px;
    background-color: #E0F3F4;
    border-radius: 10px;
    padding: 2.5%;
    align-items: center;
    /* margin: 1% 1.5% 0% 1.5%; */
    display: flex;
    flex-direction: row;
    font-weight: 600;
    width: auto;
    height: auto;
}

.notice {
    margin-top: 20px;
    background-color: #E0F3F4;
    border-radius: 10px;
    padding: 2.5%;
    margin: 1% 1.5% 0% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    width: auto;
    max-width: 40%;
    height: auto;
}

.notice:nth-child(1) {
    margin-left: 0;
}

.text-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    padding: 60px 0px 60px 0px;
    border-top: 1px solid black;
    background-color: whitesmoke;
}

footer .about-veno .logo {
    margin-bottom: 40px;
}

footer .about-veno ul li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    background-color: #183153;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    margin-right: 3px;
    transition: all 0.5s;
}

.footer .useful-links {
    align-items: start;
}

footer .useful-links ul li {
    margin-top: 12px;
    margin-bottom: 12px;
}

footer .useful-links ul li a {
    letter-spacing: 0.5px;
    text-decoration: none;
}

footer .useful-links ul li i {
    font-size: 6px;
    position: relative;
    top: -3px;
    margin-right: 8px;
}

footer .contact-info p {
    margin-bottom: 25px;
}

footer .contact-info ul li {
    margin: 10px 0px;
}

footer .contact-info .contact-phones {
    list-style: disc;
    margin-left: 40px;
    font-size: 14px;
}

footer .contact-info ul li span {
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 80px;
    display: inline-block;
}

.login-section {
    border-radius: 10px;
    padding: 5%;
    width: 50%;
    margin-top: 5vh;
    border: 2.5px solid black;
    box-shadow: 0px 5px black;    
    background-color: whitesmoke;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

h1, h3, h4 {
    color: #183153;
    font-weight: bold;
}

label {
    padding-bottom: 2%;
    padding-top: 3%;
    font-weight: bold;
    color: black;
}

p {
    color: black;
}

input {
    color: black;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    border: 2.5px solid black;
}

.main-button {
    align-self: center;
    margin-top: 5vh;
    border-radius: 10px;
    height: 50px;
    width: 35%;
    text-align: center;
    background-color: #FFD43B;
    font-weight: bold;
    color: black;
    border: 2.5px solid black;
    box-shadow: 0px 4px black;
    transition: 0.5s all;    
}

.more-button {
    align-self: center;
    height: 50px;
    font-size: 14px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    transition: 0.25s all;
}

.more-button:hover {
    background-color: #183153;
    color: white;
}

.check-now-button {
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 2.5%;
    margin-left: 8%;
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFD43B;
    box-shadow: 0px 2px black;
    border: 1px solid black;
    transition: 0.5s all;
}

.check-now-button:hover {
    box-shadow: 0px 0px;
    background-color: #183153;
    color: white;
}

.about-us {
    padding-top: 10vh;
    background-color: whitesmoke;
}

.about-us-text {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.image-church {
    max-width: 640px;
    border-radius: 10px;
    border: 2px solid black;
}

.main-button:hover {
    transition: 0.5s all;
    background-color: #183153;
    color: white;
    border: 2.5px solid black;
    box-shadow: 0px 0px;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand, .nav-link {
    color: #183153;
    font-weight: 600;
}

.additional-info {
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #183153;
    border-radius: 10px;
    color: #fff;
    padding: 3% 0%;
    box-shadow: 0px 4px black;
    border: 2px solid black;
}

.additional-info i {
    padding: 40px 20px;
}

.second-section {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    background-color: whitesmoke;
}

.third-section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    background-color: whitesmoke;
    height: 50vh;
}


.subtitle {
    font-weight: 600;
}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    width: 50vw;
}

.image-header {
    opacity: 0.5;
    height: 50%;
    width: 100%;
}

.hero-img {
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 500px;
    opacity: 0.5;
}

.hero-text {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solcid #ddd;
    text-align: center;
    padding: 8px;
}

.maps {
    align-self: center;
}

.about-church {
    padding: 80px 0px 70px 0px;
    font-size: 14px;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
    background-position: center center;
    object-fit: cover;
    border-radius: 10px;
}

.request-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.create-activity-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding: 2.5% 8% 2.5% 8%;
    margin: 5%;
    width: 75%;
    border: 1px solid black;
    box-shadow: 0px 4px black;
    font-size: 14px;
}

.form-new-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-section {
    padding: 5% 5%;
}

.table-child {
    /* max-width: 50%; */
    text-align: left;
    font-size: 14px;
}

.table-child:nth-child(1), .table-child:nth-child(2) {
    width: 25%;
}

.table-child:nth-child(1), .table-child:nth-child(2), .table-child:nth-child(3) {
    /* width: 10%; */
    max-width: 25%;
    text-align: center;
}

.ibadah-section {
    padding: 2.5% 0%;
}

.sidenav-links {
    font-weight: bold;
}

.sidenav a i {
    padding-right: 20px;
}

.request-list-section {
    padding: 2.5% 3.5%;
    display: flex;
    flex-direction: column;
}

.child-request-list {
    font-size: 14px;
}

.child-request-list:nth-child(2) {
    font-weight: bold;
}

.child-request-list:nth-child(8) {
    text-align: left;
    width: 30%;
}

.child-request-list:nth-child(9) {
    width: 15%;
    padding: 2.5% 0%;
}

.choice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.choice-buttons i {
    margin: 0% 10px;
}

.approval-buttons {
    border: 0px solid;
    background-color: transparent;
}